<div class="app-card my-4 p-4 rounded-xl border border-slate-200">
    <div class="grid grid-cols-12 gap-3 md:gap-4">

        <!-- ستون اول: کد ملی -->
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span>{{ 'کد اقتصادی' | transloco }}:</span>
            </label>
            <input class="normal-input"
                pInputText
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="economicCode"
                class="normal-input"
                inputmode="string"
                maxlength="10"
            />

        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span>{{ 'کد کارگاه' | transloco }}:</span>
            </label>
            <input class="normal-input"
                pInputText
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="insuranceNumber"
                class="normal-input"
                inputmode="string"
                maxlength="10"
            />

        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span>{{ 'شماره عضویت در اتاق بازرگانی' | transloco }}:</span>
            </label>
            <input class="normal-input"
                pInputText
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="chamberCommerceMembershipNumber"
                class="normal-input"
                inputmode="string"
                maxlength="10"
            />

        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span>{{ 'سرمایه اولیه' | transloco }}:</span>
            </label>
            <input class="normal-input"
                pInputText
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="income"
                class="normal-input"
                inputmode="string"
                maxlength="10"
            />

        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span>{{ 'تاریخ ورود به بورس' | transloco }}:</span>
            </label>
            <p-persian-calendar class="app-persian-calendar-style"
                                [ngModelOptions]="{ standalone: true }"
                                [(ngModel)]="income"></p-persian-calendar>


        </div>
    </div>
</div>
<div class="my-2 app-card p-4 rounded-xl border border-slate-200">
    <p-table
        [value]="businessCardTable"
        [paginator]="true"
        [rows]="5"
        [rowsPerPageOptions]="[5,10,20]"
        styleClass="p-datatable-striped p-datatable-gridlines responsive-table"
    >

        <ng-template pTemplate="caption">
            <div class="w-full overflow-x-auto">
                <!-- ردیف اول: عنوان -->
                <div class="flex justify-start">
                    <h3 class="text-base font-semibold">اطلاعات کارت بازرگانی</h3>
                </div>
                <div class="mt-2 flex justify-between items-center">
                    <!-- ردیف دوم: دکمه افزودن سمت راست -->
                    <button
                        pButton
                        type="button"
                        icon="pi pi-plus"
                        label="افزودن کارت بازرگانی"
                        iconPos="right"
                        class="p-button-sm"
                        (click)="openContact()">
                    </button>
                    <div class="flex flex-row gap-3">
                        <button
                            class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-lg flex items-center normal-button"
                            matTooltip="Excel">
                            <i class="pi pi-file-excel mr-2"></i> Excel
                        </button>

                        <button
                            class="bg-purple-600 hover:bg-purple-700 text-white px-4 py-2 rounded-lg normal-button flex items-center"
                            matTooltip="چاپ">
                            <i class="pi pi-print mr-2"></i> چاپ
                        </button>
                    </div>
                </div>

            </div>
        </ng-template>
        <!-- Header -->
        <ng-template pTemplate="header">
            <tr>
                <th>ردیف</th>
                <th>نوع کارت بازرگانی</th>
                <th>شماره کارت بازرگانی</th>
                <th>تاریخ صدور کارت بازرگانی</th>
                <th>تاریخ انقضای کارت بازرگانی</th>
                <th>عنوان دارنده کارت بازرگانی</th>
                <th>عملیات</th>
            </tr>
        </ng-template>

        <!-- Body -->
        <ng-template pTemplate="body" let-contact let-rowIndex="rowIndex">
            <tr>
                <!-- ردیف -->
                <td data-label="ردیف">{{ rowIndex + 1 }}</td>

                <!-- شماره مشتری مرتبط -->
                <td data-label="شماره مشتری مرتبط">
                    {{ contact.relatedCustomerNumber }}
                </td>

                <!-- عنوان مشتری مرتبط -->
                <td data-label="عنوان مشتری مرتبط">
                    {{ contact.relatedCustomerTitle }}
                </td>

                <!-- کدملی/کداتباع/شناسه ملی مشتری مرتبط -->
                <td data-label="کدملی/کداتباع/شناسه ملی مشتری مرتبط">
                    {{ contact.nationalCode }}
                </td>

                <!-- نوع ارتباط -->
                <td data-label="نوع ارتباط">
                    {{ contact.relationTypeLabel }}
                </td>

                <!-- نسبت -->
                <td data-label="نسبت">
                    {{ contact.relationDegreeLabel }}
                </td>


                <!-- عملیات -->
                <td class="action-column">
                    <div class="flex flex-column gap-2">
                        <button
                            pButton
                            icon="pi pi-eye"
                            class="p-button-sm p-button-rounded p-button-text"
                            pTooltip="مشاهده جزئیات"
                        ></button>
                        <button
                            pButton
                            icon="pi pi-pencil"
                            class="p-button-sm p-button-rounded p-button-text p-button-success"
                            pTooltip="ویرایش اطلاعات"
                        ></button>

                    </div>
                </td>
            </tr>
        </ng-template>

        <!-- Empty -->
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="9" class="text-center py-4 text-gray-500">
                    رکوردی برای نمایش موجود نیست.
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="my-2 app-card p-4 rounded-xl border border-slate-200">
    <p-table
        [value]="economicTable"
        [paginator]="true"
        [rows]="5"
        [rowsPerPageOptions]="[5,10,20]"
        styleClass="p-datatable-striped p-datatable-gridlines responsive-table"
    >
        <ng-template pTemplate="caption">
            <div class="w-full overflow-x-auto">
                <!-- ردیف اول: فقط عنوان -->
                <div class="flex items-center justify-start gap-4 whitespace-nowrap min-w-max">
                    <h3 class="text-base font-semibold">اطلاعات اقتصادی</h3>
                </div>

                <!-- ردیف دوم: دکمه افزودن سمت راست و بقیه دکمه‌ها سمت چپ -->
                <div class="mt-2 flex justify-between items-center">
                    <!-- سمت راست -->
                    <button
                        pButton
                        type="button"
                        icon="pi pi-plus"
                        label="افزودن اطلاعات اقتصادی"
                        iconPos="right"
                        class="p-button-primary normal-button"
                        (click)="openCitizenshipDialog()">
                    </button>

                    <!-- سمت چپ -->
                    <div class="flex flex-row gap-3">
                        <button
                            class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-lg flex items-center normal-button"
                            matTooltip="Excel">
                            <i class="pi pi-file-excel mr-2"></i> Excel
                        </button>

                        <button
                            class="bg-purple-600 hover:bg-purple-700 text-white px-4 py-2 rounded-lg normal-button flex items-center"
                            matTooltip="چاپ">
                            <i class="pi pi-print mr-2"></i> چاپ
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>

        <!-- Header -->
        <ng-template pTemplate="header">
            <tr>
                <th>ردیف</th>
                <th>شماره اظهارنامه مالیاتی</th>
                <th>تاریخ شروع</th>
                <th>تاریخ پایان</th>
                <th>عملیات</th>
            </tr>
        </ng-template>

        <!-- Body -->
        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
            <tr>
                <!-- ردیف -->
                <td data-label="ردیف">{{ rowIndex + 1 }}</td>

                <!-- شماره مشتری -->
                <td data-label="شماره مشتری" class="ltr">
                    {{ row.relatedCustomerNumber }}
                </td>

                <!-- عنوان مشتری -->
                <td data-label="عنوان مشتری">
                    {{ row.relatedCustomerTitle }}
                </td>

                <!-- کد ملی/اتباع/شناسه ملی -->
                <td data-label="کد ملی/کد اتباع/شناسه ملی" class="ltr">
                    {{ row.nationalCode }}
                </td>


                <!-- عملیات -->
                <td class="action-column">
                    <div class="flex flex-column gap-2">
                        <button
                            pButton
                            icon="pi pi-eye"
                            class="p-button-sm p-button-rounded p-button-text"
                            pTooltip="مشاهده جزئیات"
                        ></button>
                    </div>
                </td>
            </tr>
        </ng-template>

        <!-- Empty -->
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="9" class="text-center py-4 text-gray-500">
                    رکوردی برای نمایش موجود نیست.
                </td>
            </tr>
        </ng-template>

    </p-table>`
</div>
<p-dialog
    appendTo="body"
    [(visible)]="visibleCitizenshipContact"
    [modal]="true"
    [dismissableMask]="true"
    [style]="{width:'900px'}"
    [draggable]="false"
    [breakpoints]="{'960px':'95vw'}"
    header="ثبت اظهارنامه مالیاتی"
    contentStyleClass="dialog-body card-filter">

    <form class="form-grid" [formGroup]="commercialDialogForm" (ngSubmit)="submitCitizenshipContact()">

        <!-- ردیف اول -->
        <div class="grid grid-cols-12 gap-3 md:gap-4 mb-4">
            <div class="col-span-12 md:col-span-6 flex flex-col">
                <label class="form-label">شماره اظهارنامه مالیاتی:</label>
                <input class="normal-input" pInputText formControlName="taxNumber">
            </div>

            <div class="col-span-12 md:col-span-6 flex flex-col">
                <label class="form-label">سرمایه ثبتی:</label>
                <input class="normal-input" pInputText formControlName="employeeCount">
            </div>
            <div class="col-span-12 md:col-span-6 flex flex-col">
                <label class="form-label">مبلغ سود:</label>
                <input class="normal-input" pInputText formControlName="employeeCount">
            </div>
            <div class="col-span-12 md:col-span-6 flex flex-col">
                <label class="form-label">مبلغ دارایی:</label>
                <input class="normal-input" pInputText formControlName="employeeCount">
            </div>
        </div>

        <!-- ردیف دوم -->
        <div class="grid grid-cols-12 gap-3 md:gap-4">
            <div class="col-span-12 md:col-span-6 flex flex-col">
                <label class="form-label">تاریخ شروع:</label>
                <p-persian-calendar
                    appendTo="body"
                    class="app-persian-calendar-style"
                    formControlName="startDate"></p-persian-calendar>
            </div>

            <div class="col-span-12 md:col-span-6 flex flex-col">
                <label class="form-label">تاریخ پایان:</label>
                <p-persian-calendar
                    appendTo="body"
                    class="app-persian-calendar-style"
                    formControlName="endDate"></p-persian-calendar>
            </div>

            <div class="col-span-12 md:col-span-6 flex flex-col">
                <label class="form-label">تعداد شاغلین:</label>
                <input class="normal-input" pInputText formControlName="employeeCount">
            </div>
        </div>

        <div class="my-4 flex items-center justify-end gap-3">
            <button
                pButton
                type="submit"
                label="تایید"
                icon="pi pi-check"
                class="btn-standard p-button-success">
            </button>
            <button
                pButton
                type="button"
                label="انصراف"
                icon="pi pi-times"
                severity="danger"
                [outlined]="true"

                (click)="closeCitizenshipContact()"
                class="btn-standard p-button-danger">
            </button>
        </div>
    </form>
</p-dialog>

<p-dialog
    appendTo="body"
    [(visible)]="visibleContact"
    [modal]="true"
    [dismissableMask]="true"
    [style]="{width:'900px'}"
    [draggable]="false"
    [breakpoints]="{'960px':'95vw'}"
    header="ثبت کارت بازرگانی"
    contentStyleClass="dialog-body card-filter">

    <form class="form-grid" [formGroup]="businessDialogForm" (ngSubmit)="submitContact()">

        <!-- ردیف اول -->
        <div class="grid grid-cols-12 gap-4 md:gap-4 mb-4">
            <div class="col-span-12 md:col-span-6 flex flex-col">
                <label class="form-label">
                <span class="text-red-500">* </span>
                نوع کارت بازرگانی:
                </label>
                <input class="normal-input" pInputText formControlName="businessCardType" >
            </div>

            <div class="col-span-12 md:col-span-6 flex flex-col">
                <label class="form-label">
                    <span class="text-red-500">* </span>
                شماره کارت بازرگانی:</label>
                <input class="normal-input" pInputText formControlName="businessCardNumber">
            </div>
        </div>

        <!-- ردیف دوم -->
        <div class="grid grid-cols-12 gap-3 md:gap-4 mb-4">
            <div class="col-span-12 md:col-span-6 flex flex-col">
                <label class="form-label">
                    <span class="text-red-500">* </span>
                    تاریخ صدور کارت بازرگانی:
                </label>
                <p-persian-calendar
                    appendTo="body"
                    class="app-persian-calendar-style"
                    formControlName="issueDate"></p-persian-calendar>
            </div>

            <div class="col-span-12 md:col-span-6 flex flex-col">
                <label class="form-label">
                    <span class="text-red-500">* </span>
                    تاریخ انقضا کارت بازرگانی:
                </label>
                <p-persian-calendar
                    appendTo="body"
                    class="app-persian-calendar-style"
                    formControlName="expiryDate"></p-persian-calendar>
            </div>
            <div class="col-span-12 md:col-span-12 flex flex-col">
                <label class="form-label">عنوان دارنده کارت:</label>
                <input class="xx-ggg-8-input" pInputText formControlName="holderName">
            </div>
        </div>

        <div class="my-4 flex items-center justify-end gap-3">
            <button
                pButton
                type="submit"
                label="تایید"
                icon="pi pi-check"
                class="btn-standard p-button-success">
            </button>
            <button
                pButton
                type="button"
                label="انصراف"
                icon="pi pi-times"
                severity="danger"
                [outlined]="true"

                (click)="closeContact()"
                class="btn-standard p-button-danger">
            </button>
        </div>
    </form>
</p-dialog>


