<div class="w-full">
    <div class="w-full app-card">
        <div class="py-2 px-6 rounded-xl shadow-sm mx-auto">
            <div class="flex flex-col w-full p-3">
                <div class="flex flex-col items-start text-right w-full">
                    <h1 class="text-4xl font-bold text-gray-800">تعریف دلیل مراجعه مشتری مهمان</h1>

                </div>
            </div>
        </div>
    </div>
</div>
<div  class="p-4  flex items-center justify-center w-full" >
    <form [formGroup]="inputGuestReason" class=" m-4 p-4  flex  app-card  rounded-lg shadow-sm w-full">
        <div class="grid grid-cols-12 gap-3 w-full">
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="text-gray-700 text-sm font-medium mb-1">عنوان:</label>
            <input pInputText formControlName="title" class="normal-input" placeholder="مثلاً: آورنده چک حضوری" />
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="text-gray-700 text-sm font-medium mb-1">عنوان انگلیسی:</label>
            <input pInputText formControlName="titleEn" class="normal-input"
                   placeholder="مثلاً: Physical Check Deliverer" />
        </div>
        <div class="col-span-12 md:col-span-2 flex flex-col">
            <label class="text-gray-700 text-sm font-medium mb-1">وضعیت:</label>
            <p-dropdown
                [options]="statuses"
                optionLabel="label"
                optionValue="value"
                formControlName="status"
                placeholder="انتخاب کنید"
                class="dropdown-normal"
            ></p-dropdown>
        </div>
        <div class="col-span-12 md:col-span-2 flex items-end gap-2">
            <p-checkbox formControlName="isDefault" binary="true"></p-checkbox>
            <label class="text-gray-700 text-sm font-medium">انتخاب پیش‌فرض</label>
        </div>
        <div class="col-span-12 flex justify-end gap-3 mt-4">
            <button pButton label="ذخیره" icon="pi pi-save" class="p-button-success"></button>
            <button
                pButton
                label="انصراف"
                icon="pi pi-times"
                severity="danger"
                [outlined]="true"
                type="button"
                (click)="cancelForm()">
            </button>
        </div>
        </div>
    </form>
</div>
