<div class="app-card p-4 rounded-xl border border-slate-200">
    <!-- هدر بالای جدول -->
    <div class="flex flex-col mb-4">
        <!-- تیتر -->
        <h3 class="text-lg font-semibold">
            {{ 'citizen.education.title' | transloco }}
        </h3>

        <!-- دکمه زیر تیتر -->
        <div class="mt-2">
            <button pButton
                    iconPos="right"
                    class="p-button-primary normal-button"
                    type="button"
                    icon="pi pi-plus"
                    label="{{ 'ایجاد تحصیلات' | transloco }}"
                    (click)="addEducation()">
            </button>
        </div>
    </div>

    <p-table
        [value]="EducationTable"
        [paginator]="true"
        [rows]="5"
        [rowsPerPageOptions]="[5,10,20]"
        styleClass="normal-table"
        class="p-6 space-y-6">
        <ng-template pTemplate="caption">
            <div class="w-full overflow-x-auto">
                <!-- flex بین دکمه‌های چپ و راست -->
                <div class="mt-2 flex justify-between flex-row-reverse items-center">

                    <!-- دکمه‌های سمت چپ (Excel و چاپ) -->
                    <div class="flex flex-row gap-3">
                        <button
                            class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-lg flex items-center normal-button"
                            matTooltip="Excel">
                            <i class="pi pi-file-excel mr-2"></i> Excel
                        </button>

                        <button
                            class="bg-purple-600 hover:bg-purple-700 text-white px-4 py-2 rounded-lg normal-button flex items-center"
                            matTooltip="چاپ">
                            <i class="pi pi-print mr-2"></i> چاپ
                        </button>
                    </div>

                    <!-- اگه چیزی خواستی سمت راست اضافه بشه، اینجا -->
                    <div></div>
                </div>
            </div>
        </ng-template>

        <!-- Header -->
        <ng-template pTemplate="header">
            <tr>
                <th>ردیف</th>
                <th>مقطع تحصیلی</th>
                <th>رشته تحصیلی</th>
                <th>نوع موسسه آموزشی</th>
                <th>نام موسسه آموزشی</th>
                <th>عملیات</th>
            </tr>
        </ng-template>

        <!-- Body -->
        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
            <tr>
                <!-- ردیف -->
                <td data-label="ردیف">{{ rowIndex + 1 }}</td>

                <!-- شماره مشتری -->
                <td data-label="شماره مشتری" class="ltr">
                    {{ row.relatedCustomerNumber }}
                </td>

                <!-- عنوان مشتری -->
                <td data-label="عنوان مشتری">
                    {{ row.relatedCustomerTitle }}
                </td>

                <!-- کد ملی/اتباع/شناسه ملی -->
                <td data-label="کد ملی/کد اتباع/شناسه ملی" class="ltr">
                    {{ row.nationalCode }}
                </td>

                <!-- نوع ارتباط -->
                <td data-label="نوع ارتباط">
                    {{ row.relationTypeLabel }}
                </td>

                <!-- عملیات -->
                <td class="action-column">
                    <div class="flex flex-column gap-2">
                        <button
                            pButton
                            icon="pi pi-eye"
                            class="p-button-sm p-button-rounded p-button-text"
                            pTooltip="مشاهده جزئیات"
                        ></button>
                    </div>
                </td>
            </tr>
        </ng-template>

        <!-- Empty -->
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="9" class="text-center py-4 text-gray-500">
                    رکوردی برای نمایش موجود نیست.
                </td>
            </tr>
        </ng-template>

    </p-table>
</div>
<p-dialog

    [(visible)]="visibleEducate"
    [modal]="true"
    [dismissableMask]="true"
[style]="{width:'1380px'}"
    [draggable]="false"
    [breakpoints]="{'960px':'95vw'}"
    header="افزودن اطلاعات تماس"
    contentStyleClass="dialog-body card-filter">

    <form class="form-grid" [formGroup]="form" (ngSubmit)="submitEducate()">

        <!-- ستون راست -->
        <div class="grid grid-cols-12 gap-3 md:gap-4">
            <div class="col-span-12 md:col-span-4 flex flex-col">
                <label class="form-label">
                    <span class="text-red-500">*</span>
                    <span>
                        مقطع تحصیلی:</span>
                </label>
                <p-dropdown  class="dropdown-normal"
                            optionLabel="label"></p-dropdown>
            </div>

            <div class="col-span-12 md:col-span-4 flex flex-col">
                <label class="form-label">
                    <span class="text-red-500">*</span>
                    <span>رشته تحصیلی
                :</span>
                </label>
                <p-dropdown  class="dropdown-normal"
                            optionLabel="label"></p-dropdown>
            </div>
            <div class="col-span-12 md:col-span-4 flex flex-col">
                <label class="form-label">
                    <span>گرایش تحصیلی
                :</span>
                </label>
                <input pInputText  class="normal-input">
            </div>
            <div class="col-span-12 md:col-span-4 flex flex-col">
                <label class="form-label">
                    <span>نوع موسسه آموزشی
                :</span>
                </label>
                <p-dropdown  class="dropdown-normal"
                             optionLabel="label"></p-dropdown>
            </div>
            <div class="col-span-12 md:col-span-4 flex flex-col">
                <label class="form-label">
                    <span>نام موسسه آموزشی
                :</span>
                </label>
                <input pInputText  class="normal-input">
            </div>
            <div class="col-span-12 md:col-span-4 flex flex-col">
                <label class="form-label">
                    <span>شماره مدرک تحصیلی
                :</span>
                </label>
                <input pInputText  class="normal-input">
            </div>
            <div class="col-span-12 md:col-span-4 flex flex-col">
                <label class="form-label">
                    <span>کشور محل تحصیل
                :</span>
                </label>
                <p-dropdown  class="dropdown-normal"
                             optionLabel="label"></p-dropdown>
            </div>
            <div class="col-span-12 md:col-span-4 flex flex-col">
                <label class="form-label">
                    <span>شهر محل تحصیل
                :</span>
                </label>
                <p-dropdown  class="dropdown-normal"
                             optionLabel="label"></p-dropdown>
            </div>
            <div class=" md:col-span-4 flex flex-col"></div>
            <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="form-label">
                    <span>تاریخ شروع
                :</span>
            </label>
            <p-persian-calendar
                 class="normal-persian-calendar" ></p-persian-calendar>
        </div>
            <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="form-label">
                    <span>تاریخ پایان
                :</span>
            </label>
            <p-persian-calendar
                 class="normal-persian-calendar" ></p-persian-calendar>
        </div>

        </div>
        <div class="my-4 flex items-center justify-end gap-3">
            <button
                pButton
                type="submit"
                label="تایید"
                icon="pi pi-check"
                class="btn-standard p-button-success">
            </button>
            <button
                pButton
                type="button"
                label="انصراف"
                icon="pi pi-times"
                severity="danger"
                [outlined]="true"

                (click)="closeEducate()"
                class="btn-standard p-button-danger">
            </button>
        </div>
    </form>
</p-dialog>
