@font-face {
  font-family: "iransans";
  src: url("./fonts/IranSans_WOFF2/IRANSansWeb(FaNum)_UltraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "iransans";
  src: url("./fonts/IranSans_WOFF2/IRANSansWeb(FaNum)_Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "iransans";
  src: url("./fonts/IranSans_WOFF2/IRANSansWeb(FaNum).woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "iransans";
  src: url("./fonts/IranSans_WOFF2/IRANSansWeb(FaNum)_Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "iransans";
  src: url("./fonts/IranSans_WOFF2/IRANSansWeb(FaNum)_Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "iransans";
  src: url("./fonts/IranSans_WOFF2/IRANSansWeb(FaNum)_Black.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}

.iransans {
  font-family: "iransans";
}


@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/iranyekan/eot/iranyekanwebboldfanum.eot");
  src:
    url("./fonts/iranyekan/eot/iranyekanwebboldfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/iranyekan/woff/iranyekanwebboldfanum.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/iranyekan/ttf/iranyekanwebboldfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/iranyekan/eot/iranyekanwebthinfanum.eot");
  src:
    url("./fonts/iranyekan/eot/iranyekanwebthinfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/iranyekan/woff/iranyekanwebthinfanum.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/iranyekan/ttf/iranyekanwebthinfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/iranyekan/eot/iranyekanweblightfanum.eot");
  src:
    url("./fonts/iranyekan/eot/iranyekanweblightfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/iranyekan/woff/iranyekanweblightfanum.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/iranyekan/ttf/iranyekanweblightfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/iranyekan/eot/iranyekanwebregularfanum.eot");
  src:
    url("./fonts/iranyekan/eot/iranyekanwebregularfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/iranyekan/woff/iranyekanwebregularfanum.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/iranyekan/ttf/iranyekanwebregularfanum.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/iranyekan/eot/iranyekanwebmediumfanum.eot");
  src:
    url("./fonts/iranyekan/eot/iranyekanwebmediumfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/iranyekan/woff/iranyekanwebmediumfanum.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/iranyekan/ttf/iranyekanwebmediumfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/iranyekan/eot/iranyekanwebextraboldfanum.eot");
  src:
    url("./fonts/iranyekan/eot/iranyekanwebextraboldfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/iranyekan/woff/iranyekanwebextraboldfanum.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/iranyekan/ttf/iranyekanwebextraboldfanum.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 850;
  src: url("./fonts/iranyekan/eot/iranyekanwebblackfanum.eot");
  src:
    url("./fonts/iranyekan/eot/iranyekanwebblackfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/iranyekan/woff/iranyekanwebblackfanum.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/iranyekan/ttf/iranyekanwebblackfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/iranyekan/eot/iranyekanwebextrablackfanum.eot");
  src:
    url("./fonts/iranyekan/eot/iranyekanwebextrablackfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/iranyekan/woff/iranyekanwebextrablackfanum.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/iranyekan/ttf/iranyekanwebextrablackfanum.ttf")
      format("truetype");
}



@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('./fonts/iransans/eot/iranyekanwebbold.eot');
    src: url('./fonts/iransans/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./fonts/iransans/woff/iranyekanwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./fonts/iransans/ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 100;
    src: url('./fonts/iransans/eot/iranyekanwebthin.eot');
    src: url('./fonts/iransans/eot/iranyekanwebthin.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./fonts/iransans/woff/iranyekanwebthin.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./fonts/iransans/ttf/iranyekanwebthin.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/iransans/eot/iranyekanweblight.eot');
    src: url('./fonts/iransans/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./fonts/iransans/woff/iranyekanweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./fonts/iransans/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/iransans/eot/iranyekanwebregular.eot');
    src: url('./fonts/iransans/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./fonts/iransans/woff/iranyekanwebregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./fonts/iransans/ttf/iranyekanwebregular.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/iransans/eot/iranyekanwebmedium.eot');
    src: url('./fonts/iransans/eot/iranyekanwebmedium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./fonts/iransans/woff/iranyekanwebmedium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./fonts/iransans/ttf/iranyekanwebmedium.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 800;

    src: url('./fonts/iransans/eot/iranyekanwebextrabold.eot');
    src: url('./fonts/iransans/eot/iranyekanwebextrabold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./fonts/iransans/woff/iranyekanwebextrabold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./fonts/iransans/ttf/iranyekanwebextrabold.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/iransans/eot/iranyekanwebblack.eot');
    src: url('./fonts/iransans/eot/iranyekanwebblack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./fonts/iransans/woff/iranyekanwebblack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./fonts/iransans/ttf/iranyekanwebblack.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 950;
    src: url('./fonts/iransans/eot/iranyekanwebextrablack.eot');
    src: url('./fonts/iransans/eot/iranyekanwebextrablack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./fonts/iransans/woff/iranyekanwebextrablack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./fonts/iransans/ttf/iranyekanwebextrablack.ttf') format('truetype');
}




@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('./fonts/iranyekan/eot/iranyekanwebboldfanum.eot');
    src: url('./fonts/iranyekan/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./fonts/iranyekan/woff/iranyekanwebboldfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./fonts/iranyekan/ttf/iranyekanwebboldfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 100;
    src: url('./fonts/iranyekan/eot/iranyekanwebthinfanum.eot');
    src: url('./fonts/iranyekan/eot/iranyekanwebthinfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./fonts/iranyekan/woff/iranyekanwebthinfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./fonts/iranyekan/ttf/iranyekanwebthinfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/iranyekan/eot/iranyekanweblightfanum.eot');
    src: url('./fonts/iranyekan/eot/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./fonts/iranyekan/woff/iranyekanweblightfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./fonts/iranyekan/ttf/iranyekanweblightfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/iranyekan/eot/iranyekanwebregularfanum.eot');
    src: url('./fonts/iranyekan/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./fonts/iranyekan/woff/iranyekanwebregularfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./fonts/iranyekan/ttf/iranyekanwebregularfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/iranyekan/eot/iranyekanwebmediumfanum.eot');
    src: url('./fonts/iranyekan/eot/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./fonts/iranyekan/woff/iranyekanwebmediumfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./fonts/iranyekan/ttf/iranyekanwebmediumfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 800;
    src: url('./fonts/iranyekan/eot/iranyekanwebextraboldfanum.eot');
    src: url('./fonts/iranyekan/eot/iranyekanwebextraboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./fonts/iranyekan/woff/iranyekanwebextraboldfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./fonts/iranyekan/ttf/iranyekanwebextraboldfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 850;
    src: url('./fonts/iranyekan/eot/iranyekanwebblackfanum.eot');
    src: url('./fonts/iranyekan/eot/iranyekanwebblackfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./fonts/iranyekan/woff/iranyekanwebblackfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./fonts/iranyekan/ttf/iranyekanwebblackfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/iranyekan/eot/iranyekanwebextrablackfanum.eot');
    src: url('./fonts/iranyekan/eot/iranyekanwebextrablackfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./fonts/iranyekan/woff/iranyekanwebextrablackfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./fonts/iranyekan/ttf/iranyekanwebextrablackfanum.ttf') format('truetype');
}
