/*
.normal-input {
    @apply w-full text-sm border border-slate-300 rounded-lg h-[38px] focus:border-primary-500 focus:ring-1 focus:ring-primary-300 transition-all;
}

.normal-button {
    @apply bg-primary text-white rounded-lg h-[38px] px-4 text-sm hover:bg-primary-600 transition-all;
}
*/
