<!--
<div class="w-full header-card ">
    <div class="p-8 rounded-b-xl shadow-sm  mx-auto">
        <div class="flex flex-col w-full p-4">
            <div class="flex flex-col items-start text-right w-full">
                <h1 class="text-4xl font-bold text-gray-800 dark:text-gray-300">مدیریت محصول</h1>
                <div class="flex flex-row-reverse items-center gap-2 mt-2">
                    <p class="text-base text-gray-500 dark:text-gray-100">تعداد محصول: 54</p>
                    <span class="material-icons text-gray-500 dark:text-gray-100 text-3xl">group</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="p-6 space-y-6 ">
    <div class="px-5 app-card p-4 rounded-xl shadow-md flex flex-col md:flex-row md:flex-wrap md:items-start md:gap-4" >
        <div class="w-full px-4 md:px-6">
            <div class="grid grid-cols-12 gap-4">


                <div class="col-span-12 md:col-span-4 flex flex-col">
                    <label for="reason">گروه حساب سپرده:</label>
                    <p-dropdown
                        id="reason"
                        class="dropdown-normal"
                        formControlName="reason"
                        optionLabel="label"
                        optionValue="value"
                    ></p-dropdown>
                </div>
                <div class="col-span-12 md:col-span-4 flex flex-col">
                    <label for="companyName">
                        <span>نوع ارز:</span>
                    </label>
                    <input pInputText id="companyName" formControlName="nationalCode" class="normal-input" />
                </div>
                <div class="col-span-12 md:col-span-4 flex flex-wrap justify-end gap-2 mt-4">
                    <button
                        pButton
                        type="button"
                        icon="pi pi-search"
                        label="جستجو"
                        class="normal-button"
                    ></button>

                    <button
                        pButton
                        type="button"
                        icon="pi pi-filter-slash"
                        label="پاکسازی"
                        [outlined]="true"
                        class="normal-button"

                    ></button>
                </div>
                <div class="col-span-12 md:col-span-4 flex flex-col">
                    <label>محصول:</label>
                    <p-dropdown
                        class="dropdown-normal"
                        formControlName="nationality"
                        optionLabel="label"
                        optionValue="value"
                    ></p-dropdown>
                </div>




            </div>
        </div>
    </div>
    <p-table
              [value]="productList"
              [paginator]="true"
              [rows]="5"
              [rowsPerPageOptions]="[5,10,25]"
              [responsiveLayout]="'scroll'"
              styleClass="normal-table"
              class="p-6 space-y-6"
    >
        <ng-template pTemplate="caption">
            <div class="flex justify-end gap-4 ">
                <button
                    class="normal-button bg-purple-600 hover:bg-purple-700 text-white px-4 py-2 rounded-lx flex items-center">
                    <svg class="w-5 h-5 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z"></path>
                    </svg>
                    چاپ
                </button>
                <button
                    class="normal-button bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-lx flex items-center">
                    <svg class="w-5 h-5 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"></path>
                    </svg>
                    Excel
                </button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>ردیف</th>
                <th>کد محصول</th>
                <th>عنوان محصول</th>
                <th>تاریخ شروع اعتبار </th>
                <th>تاریخ خاتمه اعتبار </th>
                <th>کد نوع ارز </th>
                <th>گروه حساب سپرده </th>
                <th>عملیات</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row let-index="rowIndex">
            <tr>
                <td>{{ index + 1 }}</td>
                <td>{{ row.productCode }}</td>
                <td>{{ row.productName }}</td>
                <td>{{ row.effectiveDate }}</td>
                <td>{{ row.enddate }}</td>
                <td>{{ row.currencyCode }}</td>
                <td>{{ row.depositTypeId }}</td>
                <td>  <span
                    class="status-tag"
                    [ngClass]="{ 'active': row.status === 'active', 'inactive': row.status === 'inactive' }"
                >
              {{ row.status === 'active' ? 'فعال' : 'غیرفعال' }}
            </span>
                </td>
                <td>

                </td>
                <td>{{ row.isDefault ? 'پیش‌فرض' : '-&#45;&#45;' }}</td>
                <td class="flex gap-2 justify-center">
                    <button pButton icon="pi pi-pencil"
                            class="p-button-rounded p-button-text p-button-success"></button>
                    <button pButton icon="pi pi-trash"
                            class="p-button-rounded p-button-text p-button-danger"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>
<div class="app-card p-4 rounded-xl border border-slate-200 mt-3">
    <div class="grid grid-cols-12 gap-3 md:gap-4 items-start justify-start " dir="ltr">
        <button
            pButton
            label="انصراف"
            severity="danger"
            [outlined]="true"
            type="button"
            class="p-button-secondary col-span-6 md:col-span-1 h-[40px]"
        ></button>
        <button
            pButton
            label="ذخیره"
            severity="success"
            type="submit"
            class="p-button-primary col-span-6 md:col-span-1 h-[40px]"
        ></button>
    </div>
</div>

-->
<div class="w-full header-card">
    <div class="p-8 rounded-b-xl shadow-sm mx-auto">
        <div class="flex flex-col w-full p-4">
            <div class="flex flex-col items-start text-right w-full">
                <h1 class="text-4xl font-bold text-gray-800 dark:text-gray-300">
                    مدیریت محصول
                </h1>
                <div class="flex flex-row-reverse items-center gap-2 mt-2">
                    <p class="text-base text-gray-500 dark:text-gray-100">
                        تعداد محصول: 54
                    </p>
                    <span class="material-icons text-gray-500 dark:text-gray-100 text-3xl">
            group
          </span>
                </div>
            </div>
        </div>
    </div>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="p-6 space-y-6">
        <div
            class="px-5 app-card p-4 rounded-xl shadow-md flex flex-col md:flex-row md:flex-wrap md:items-start md:gap-4"
        >
            <div class="w-full px-4 md:px-6">
                <div class="grid grid-cols-12 gap-4">
                    <div class="col-span-12 md:col-span-4 flex flex-col">
                        <label for="depositAccountGroup">گروه حساب سپرده:</label>
                        <p-dropdown
                            id="depositAccountGroup"
                            class="dropdown-normal"
                            formControlName="depositAccountGroup"
                            [options]="depositAccountGroups"
                            optionLabel="label"
                            optionValue="value"
                        ></p-dropdown>
                    </div>
                    <div class="col-span-12 md:col-span-4 flex flex-col">
                        <label for="currencyType"><span>نوع ارز:</span></label>
                        <p-dropdown
                            id="currencyType"
                            class="dropdown-normal"
                            formControlName="currencyType"
                            [options]="currencyTypes"
                            optionLabel="label"
                            optionValue="value"
                        ></p-dropdown>
                    </div>
                    <div
                        class="col-span-12 md:col-span-4 flex flex-wrap justify-end gap-2 mt-4"
                    >
                        <button
                            pButton
                            type="button"
                            icon="pi pi-search"
                            label="جستجو"
                            class="normal-button"
                            (click)="onSearch()"
                        ></button>

                        <button
                            pButton
                            type="button"
                            icon="pi pi-filter-slash"
                            label="پاکسازی"
                            [outlined]="true"
                            class="normal-button"
                            (click)="onClear()"
                        ></button>
                    </div>
                    <div class="col-span-12 md:col-span-4 flex flex-col">
                        <label for="product">محصول:</label>
                        <p-dropdown
                            id="product"
                            class="dropdown-normal"
                            formControlName="product"
                            [options]="products"
                            optionLabel="label"
                            optionValue="value"
                        ></p-dropdown>
                    </div>


                </div>
            </div>
        </div>
        <p-table
            [value]="productList"
            [paginator]="true"
            [rows]="5"
            [rowsPerPageOptions]="[5, 10, 25]"
            [responsiveLayout]="'scroll'"
            styleClass="normal-table"
            class="p-6 space-y-6"
        >
            <ng-template pTemplate="caption">
                <div class="flex justify-end gap-4">
                    <button
                        class="normal-button bg-purple-600 hover:bg-purple-700 text-white px-4 py-2 rounded-lx flex items-center"
                        type="button"
                    >
                        <svg
                            class="w-5 h-5 ml-2"
                            fill="none"
                            stroke="currentColor"
                            viewBox="0 0 24 24"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z"
                            ></path>
                        </svg>
                        چاپ
                    </button>
                    <button
                        class="normal-button bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-lx flex items-center"
                        type="button"
                    >
                        <svg
                            class="w-5 h-5 ml-2"
                            fill="none"
                            stroke="currentColor"
                            viewBox="0 0 24 24"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"
                            ></path>
                        </svg>
                        Excel
                    </button>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th>ردیف</th>
                    <th>کد محصول</th>
                    <th>عنوان محصول</th>
                    <th>تاریخ شروع اعتبار</th>
                    <th>تاریخ خاتمه اعتبار</th>
                    <th>کد نوع ارز</th>
                    <th>گروه حساب سپرده</th>
                    <th>وضعیت</th>
                    <th>عملیات</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-row let-index="rowIndex">
                <tr>
                    <td>{{ index + 1 }}</td>
                    <td>{{ row.productCode }}</td>
                    <td>{{ row.productName }}</td>
                    <td>{{ row.effectiveDate }}</td>
                    <td>{{ row.enddate }}</td>
                    <td>{{ row.currencyCode }}</td>
                    <td>{{ row.depositTypeId }}</td>
                    <td>
            <span
                class="status-tag"
                [ngClass]="{
                active: row.status === 'active',
                inactive: row.status === 'inactive'
              }"
            >
              {{ row.status === 'active' ? 'فعال' : 'غیرفعال' }}
            </span>
                    </td>
                    <td class="flex gap-2 justify-center">
                        <button
                            pButton
                            type="button"
                            icon="pi pi-pencil"
                            class="p-button-rounded p-button-text p-button-success"
                        ></button>
                        <button
                            pButton
                            type="button"
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-text p-button-danger"
                        ></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <!-- دکمه‌های پایین فرم -->
    <div class="app-card p-4 rounded-xl border border-slate-200 mt-3">
        <div
            class="grid grid-cols-12 gap-3 md:gap-4 items-start justify-start"
            dir="ltr"
        >
            <button
                pButton
                label="انصراف"
                severity="danger"
                [outlined]="true"
                type="button"
                class="p-button-secondary col-span-6 md:col-span-1 h-[40px]"
                (click)="onCancel()"
            ></button>
            <button
                pButton
                label="ذخیره"
                severity="success"
                type="submit"
                class="p-button-primary col-span-6 md:col-span-1 h-[40px]"
            ></button>
        </div>
    </div>
</form>
