<div class="w-full header-card ">
    <div class="p-8 rounded-b-xl shadow-sm  mx-auto">
        <div class="flex flex-col w-full p-4">
            <div class="flex flex-col items-start text-right w-full">
                <h1 class="text-4xl font-bold text-gray-800 dark:text-gray-300">مدیریت محصول</h1>
                <div class="flex flex-row-reverse items-center gap-2 mt-2">
                    <p class="text-base text-gray-500 dark:text-gray-100">تعداد محصول: 54</p>
                    <span class="material-icons text-gray-500 dark:text-gray-100 text-3xl">group</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="p-6 space-y-6 ">
    <div
        class="px-5 mb-5  app-card p-4 rounded-xl shadow-md flex flex-col md:flex-row md:flex-wrap md:items-start md:gap-4">
        &lt;!&ndash; نوار بالا &ndash;&gt;
        <button pButton type="button" label="ایجاد" icon="pi pi-plus"
                class="p-button-success p-mr-2"
                (click)="onCreate()"></button>
        <button pButton type="button" label="ویرایش" icon="pi pi-pencil"
                class="p-button-warning p-mr-2"
                (click)="onEdit()"></button>
        <button pButton type="button" label="حذف" icon="pi pi-trash"
                class="p-button-danger"
                (click)="onDelete()"></button>

    </div>
    <div
        class="grid grid-cols-12 gap-3 px-5 app-card p-4 rounded-xl shadow-md  md:flex-row md:flex-wrap md:items-start md:gap-4">
        <div class="col-span-12 md:col-span-4 flex flex-col gap-1 text-right">
            <label
                for="depositAccountGroup"
                class="text-sm font-medium"
            >گروه حساب سپرده :</label>
            <p-dropdown
                class="normal-dropdown"
                id="depositAccountGroup"
                formControlName="depositAccountGroup"
                [options]="depositAccountGroups"
                optionLabel="label"
                placeholder="انتخاب کنید">
            </p-dropdown>
        </div>

        <div class="col-span-12 md:col-span-4 flex flex-col gap-1 text-right">
            <label
                for="depositAccountGroup"
                class="text-sm font-medium"
            >نوع ارز :</label>
            <p-dropdown
                class="normal-dropdown"
                id="currencyType"
                formControlName="currencyType"
                [options]="currencyTypes"
                optionLabel="label"
                placeholder="انتخاب کنید">
            </p-dropdown>
        </div>

        <div class="col-span-12 md:col-span-4 flex flex-col gap-1 text-right">
            <label
                for="depositAccountGroup"
                class="text-sm font-medium"
            >محصول :</label>
            <p-dropdown
                id="product"
                class="normal-dropdown"
                formControlName="product"
                [options]="products"
                optionLabel="label"
                placeholder="انتخاب کنید">
            </p-dropdown>
        </div>
    </div>
    <div
        class="grid grid-cols-12 gap-3 px-5 app-card p-4 rounded-xl shadow-md  md:flex-row md:flex-wrap md:items-start md:gap-4">
        <div class="col-span-12 md:col-span-4 flex flex-col gap-1 text-right">
            <label
                for="depositAccountGroup"
                class="text-sm font-medium"
            >عنوان محصول :</label>
            <input id="productTitle" pInputText formControlName="productTitle" class="normal-input" />
        </div>
        <div class="col-span-12 md:col-span-4 flex items-center gap-4 self-center">
            <label class="mb-0">وضعیت</label>

            <div class="radio-group flex items-center gap-3">
                <p-radioButton
                    name="isDefault"
                    inputId="defaultYes"
                    [value]="'yes'"
                    formControlName="title"
                ></p-radioButton>
                <label for="defaultYes" class="mb-0">فعال</label>

                <p-radioButton
                    name="isDefault"
                    inputId="defaultNo"
                    [value]="'no'"
                    formControlName="title"
                ></p-radioButton>
                <label for="defaultNo" class="mb-0">غیرفعال</label>
            </div>
        </div>
    </div>
    <div
        class="grid grid-cols-12 gap-3 px-5 app-card p-4 rounded-xl shadow-md  md:flex-row md:flex-wrap md:items-start md:gap-4">
        <div class="col-span-12 md:col-span-4 flex flex-col gap-1 text-right">
            <label
                for="depositAccountGroup"
                class="text-sm font-medium"
            >تاریخ شروع اعتبار :</label>
            <p-persian-calendar class="normal-persian-calendar"></p-persian-calendar>
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col gap-1 text-right">
            <label
                for="depositAccountGroup"
                class="text-sm font-medium"
            >تاریخ پایان اعتبار :</label>
            <p-persian-calendar class="normal-persian-calendar"></p-persian-calendar>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-3 px-5 app-card p-4 rounded-xl shadow-md  md:flex-row md:flex-wrap md:items-start md:gap-4" >
        <div class="col-span-12 md:col-span-6 flex flex-col gap-1 text-right">
            <div class="grid grid-cols-12" *ngFor="let t of tariffRows">
                <div class="flex items-center gap-2">
                <label
                    for="depositAccountGroup"
                    class="text-sm font-medium"
                >نمایه عمومی :</label>
                <p-dropdown
                    class="normal-dropdown"
                    id="depositAccountGroup"
                    formControlName="depositAccountGroup"
                    [options]="depositAccountGroups"
                    optionLabel="label"
                    placeholder="انتخاب کنید">
                </p-dropdown>
                <button
                    pButton
                    type="button"
                    label="مشاهده جزئیات"
                    icon="pi pi-eye"
                    iconPos="right"
                    class="p-button-secondary p-button-sm ml-2"
                    (click)="showTariffDetails(t.key)">
                </button>
                </div>
                <div class="flex items-center gap-2">
                    <label
                        for="depositAccountGroup"
                        class="text-sm font-medium"
                    >نمایه ابزار برداشت مجاز :</label>
                    <p-dropdown
                        class="normal-dropdown"
                        id="depositAccountGroup"
                        formControlName="depositAccountGroup"
                        [options]="depositAccountGroups"
                        optionLabel="label"
                        placeholder="انتخاب کنید">
                    </p-dropdown>
                    <button
                        pButton
                        type="button"
                        label="مشاهده جزئیات"
                        icon="pi pi-eye"
                        iconPos="right"
                        class="p-button-secondary p-button-sm ml-2"
                        (click)="showTariffDetails(t.key)">
                    </button>
                </div>
                <div class="flex items-center gap-2">
                    <label
                        for="depositAccountGroup"
                        class="text-sm font-medium"
                    >نمایه قرعه کشی :</label>
                    <p-dropdown
                        class="normal-dropdown"
                        id="depositAccountGroup"
                        formControlName="depositAccountGroup"
                        [options]="depositAccountGroups"
                        optionLabel="label"
                        placeholder="انتخاب کنید">
                    </p-dropdown>
                    <button
                        pButton
                        type="button"
                        label="مشاهده جزئیات"
                        icon="pi pi-eye"
                        iconPos="right"
                        class="p-button-secondary p-button-sm ml-2"
                        (click)="showTariffDetails(t.key)">
                    </button>
                </div>
                <div class="flex items-center gap-2">
                    <label
                        for="depositAccountGroup"
                        class="text-sm font-medium"
                    >نمایه سود :</label>
                    <p-dropdown
                        class="normal-dropdown"
                        id="depositAccountGroup"
                        formControlName="depositAccountGroup"
                        [options]="depositAccountGroups"
                        optionLabel="label"
                        placeholder="انتخاب کنید">
                    </p-dropdown>
                    <button
                        pButton
                        type="button"
                        label="مشاهده جزئیات"
                        icon="pi pi-eye"
                        iconPos="right"
                        class="p-button-secondary p-button-sm ml-2"
                        (click)="showTariffDetails(t.key)">
                    </button>
                </div>
                <div class="flex items-center gap-2">
                    <label
                        for="depositAccountGroup"
                        class="text-sm font-medium"
                    >نمایه تسویه / برداشت فقره ای :</label>
                    <p-dropdown
                        class="normal-dropdown"
                        id="depositAccountGroup"
                        formControlName="depositAccountGroup"
                        [options]="depositAccountGroups"
                        optionLabel="label"
                        placeholder="انتخاب کنید">
                    </p-dropdown>
                    <button
                        pButton
                        type="button"
                        label="مشاهده جزئیات"
                        icon="pi pi-eye"
                        iconPos="right"
                        class="p-button-secondary p-button-sm ml-2"
                        (click)="showTariffDetails(t.key)">
                    </button>
                </div>
                <div class="flex items-center gap-2">
                    <label
                        for="depositAccountGroup"
                        class="text-sm font-medium"
                    >نمایه واحد های عملیاتی مجاز :</label>
                    <p-dropdown
                        class="normal-dropdown"
                        id="depositAccountGroup"
                        formControlName="depositAccountGroup"
                        [options]="depositAccountGroups"
                        optionLabel="label"
                        placeholder="انتخاب کنید">
                    </p-dropdown>
                    <button
                        pButton
                        type="button"
                        icon="pi pi-eye"
                        iconPos="right"
                        label="مشاهده جزئیات"
                        class="p-button-secondary p-button-sm ml-2"
                        (click)="showTariffDetails(t.key)">
                    </button>
                </div>
                <div class="flex items-center gap-2">
                    <label
                        for="depositAccountGroup"
                        class="text-sm font-medium"
                    >نمایه تمدید :</label>
                    <p-dropdown
                        class="normal-dropdown"
                        id="depositAccountGroup"
                        formControlName="depositAccountGroup"
                        [options]="depositAccountGroups"
                        optionLabel="label"
                        placeholder="انتخاب کنید">
                    </p-dropdown>
                    <button
                        pButton
                        type="button"
                        label="مشاهده جزئیات"
                        class="p-button-secondary p-button-sm ml-2"
                        icon="pi pi-eye"
                        iconPos="right"
                        (click)="showTariffDetails(t.key)">
                    </button>
                </div>
            </div>

        </div>
        <div class="col-span-12 md:col-span-6 flex flex-col gap-1 text-right">
                <label for="depositAccountGroup">جزئیات تسویه :</label>
                <textarea
                    class="normal-textarea"
                    id="settlementDetails"
                    pInputTextarea
                    rows="10"
                    autoResize="true"
                    formControlName="settlementDetails">
            </textarea>
        </div>
    </div>
    &lt;!&ndash;<p-card class="mt-3">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-fluid">


            <hr class="section-separator" />

            &lt;!&ndash; بخش وسط: جزئیات تسویه + تعرفه‌ها &ndash;&gt;
            <div class="grid row-gap-3">
                &lt;!&ndash; جزئیات تسویه &ndash;&gt;
                <div class="col-12 md:col-5">
                    <div class="field-column">
                        <label for="settlementDetails">جزئیات تسویه :</label>
                        <textarea
                            id="settlementDetails"
                            pInputTextarea
                            rows="10"
                            autoResize="true"
                            formControlName="settlementDetails">
            </textarea>
                    </div>
                </div>

                &lt;!&ndash; ستون تعرفه‌ها &ndash;&gt;
                <div class="col-12 md:col-7">
                    &lt;!&ndash; یک ردیف نمونه؛ بقیه مشابه همین &ndash;&gt;
                    <div class="tariff-row" *ngFor="let t of tariffRows">
                        <button
                            pButton
                            type="button"
                            label="مشاهده جزئیات"
                            class="p-button-secondary p-button-sm ml-2"
                            (click)="showTariffDetails(t.key)">
                        </button>

                        <p-dropdown
                            [formControlName]="t.key"
                            [options]="t.options"
                            optionLabel="label"
                            placeholder="انتخاب کنید"
                            class="tariff-dropdown">
                        </p-dropdown>

                        <span class="tariff-label">{{ t.label }} :</span>
                    </div>
                </div>
            </div>

            &lt;!&ndash; دکمه‌های پایین &ndash;&gt;
            <div class="form-footer">
                <button
                    pButton
                    type="button"
                    label="انصراف"
                    icon="pi pi-times"
                    class="p-button-secondary p-mr-2"
                    (click)="onCancel()">
                </button>

                <button
                    pButton
                    type="submit"
                    label="تأیید"
                    icon="pi pi-save">
                </button>
            </div>

        </form>
    </p-card>&ndash;&gt;
</div>-->
<div class="p-6 space-y-6 ">
    <div
        class="px-5 mb-5 app-card p-4 rounded-xl shadow-md flex flex-col md:flex-row md:flex-wrap md:items-start md:gap-4">
        <!-- نوار بالا -->
        <button pButton type="button" label="ایجاد" icon="pi pi-plus"
                class="p-button-success p-mr-2"
                (click)="onCreate()"></button>
        <button pButton type="button" label="ویرایش" icon="pi pi-pencil"
                class="p-button-warning p-mr-2"
                (click)="onEdit()"></button>
        <button pButton type="button" label="حذف" icon="pi pi-trash"
                class="p-button-danger"
                (click)="onDelete()"></button>
    </div>

    <div
        class="grid grid-cols-12 gap-3 px-5 app-card p-4 rounded-xl shadow-md md:flex-row md:flex-wrap md:items-start md:gap-4">
        <div class="col-span-12 md:col-span-4 flex flex-col gap-1 text-right">
            <label
                for="depositAccountGroup"
                class="text-sm font-medium"
            >گروه حساب سپرده :</label>
            <p-dropdown
                class="normal-dropdown"
                id="depositAccountGroup"
                formControlName="depositAccountGroup"
                [options]="depositAccountGroups"
                optionLabel="label"
                placeholder="انتخاب کنید">
            </p-dropdown>
        </div>

        <div class="col-span-12 md:col-span-4 flex flex-col gap-1 text-right">
            <label
                for="currencyType"
                class="text-sm font-medium"
            >نوع ارز :</label>
            <p-dropdown
                class="normal-dropdown"
                id="currencyType"
                formControlName="currencyType"
                [options]="currencyTypes"
                optionLabel="label"
                placeholder="انتخاب کنید">
            </p-dropdown>
        </div>

        <div class="col-span-12 md:col-span-4 flex flex-col gap-1 text-right">
            <label
                for="product"
                class="text-sm font-medium"
            >محصول :</label>
            <p-dropdown
                id="product"
                class="normal-dropdown"
                formControlName="product"
                [options]="products"
                optionLabel="label"
                placeholder="انتخاب کنید">
            </p-dropdown>
        </div>
    </div>

    <div
        class="grid grid-cols-12 gap-3 px-5 app-card p-4 rounded-xl shadow-md md:flex-row md:flex-wrap md:items-start md:gap-4">
        <div class="col-span-12 md:col-span-4 flex flex-col gap-1 text-right">
            <label
                for="productTitle"
                class="text-sm font-medium"
            >عنوان محصول :</label>
            <input id="productTitle" pInputText formControlName="productTitle" class="normal-input" />
        </div>

        <div class="col-span-12 md:col-span-4 flex items-center gap-4 self-center">
            <label class="mb-0 text-sm font-medium">وضعیت</label>

            <div class="radio-group flex items-center gap-3">
                <p-radioButton
                    name="isDefault"
                    inputId="defaultYes"
                    [value]="'yes'"
                    formControlName="title"
                ></p-radioButton>
                <label for="defaultYes" class="mb-0">فعال</label>

                <p-radioButton
                    name="isDefault"
                    inputId="defaultNo"
                    [value]="'no'"
                    formControlName="title"
                ></p-radioButton>
                <label for="defaultNo" class="mb-0">غیرفعال</label>
            </div>
        </div>
    </div>

    <div
        class="grid grid-cols-12 gap-3 px-5 app-card p-4 rounded-xl shadow-md md:flex-row md:flex-wrap md:items-start md:gap-4">
        <div class="col-span-12 md:col-span-4 flex flex-col gap-1 text-right">
            <label
                for="startDate"
                class="text-sm font-medium"
            >تاریخ شروع اعتبار :</label>
            <p-persian-calendar id="startDate" class="normal-persian-calendar"></p-persian-calendar>
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col gap-1 text-right">
            <label
                for="endDate"
                class="text-sm font-medium"
            >تاریخ پایان اعتبار :</label>
            <p-persian-calendar id="endDate" class="normal-persian-calendar"></p-persian-calendar>
        </div>
    </div>

    <!-- بخش تعرفه‌ها + جزئیات تسویه -->
    <div
        class="grid grid-cols-12 gap-3 px-5 app-card p-4 rounded-xl shadow-md md:flex-row md:flex-wrap md:items-start md:gap-4">
        <!-- ستون تعرفه‌ها -->

        <div class="col-span-12 md:col-span-4 flex flex-col gap-3 text-right">
            <div class="flex flex-col gap-1" *ngFor="let t of tariffRows">
                <label
                    class="text-sm font-medium"
                    [for]="t.key">
                    {{ t.label }} :
                </label>

                <div class="flex items-center gap-2">
                    <p-dropdown
                        [styleClass]="'normal-dropdown'"
                        [id]="t.key"
                        [formControlName]="t.key"
                        [options]="t.options"
                        optionLabel="label"
                        placeholder="انتخاب کنید">
                    </p-dropdown>

                    <button
                        pButton
                        type="button"
                        label="مشاهده جزئیات"
                        icon="pi pi-eye"
                        iconPos="right"
                        class="p-button-secondary p-button-sm"
                        (click)="showTariffDetails(t.key)">
                    </button>
                </div>
            </div>
        </div>
<!--
        <div class="col-span-12 md:col-span-2 flex flex-col gap-3 text-right"></div>
-->
        <!-- ستون جزئیات تسویه -->
        <div class="col-span-12 md:col-span-8 flex flex-col gap-1 text-right">
            <label for="settlementDetails" class="text-sm font-medium">جزئیات تسویه :</label>
            <textarea
                class="normal-textarea"
                id="settlementDetails"
                pInputTextarea
                rows="21"
                autoResize="true"
                formControlName="settlementDetails">
            </textarea>
        </div>
    </div>
</div>
<div class="app-card p-4 rounded-xl border border-slate-200 mt-3">
    <div class="grid grid-cols-12 gap-3 md:gap-4 items-start justify-start " dir="ltr">
        <button
            pButton
            label="انصراف"
            severity="danger"
            [outlined]="true"
            type="button"
            class="p-button-secondary col-span-6 md:col-span-1 h-[40px]"
        ></button>
        <button
            pButton
            label="ذخیره"
            severity="success"
            type="submit"
            class="p-button-primary col-span-6 md:col-span-1 h-[40px]"
        ></button>
    </div>
</div>

