.normal-input {
    @apply border border-gray-300 rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-primary;
}



.status-tag {
    @apply px-3 py-1 rounded-full text-xs font-semibold text-center min-w-[70px];
}
.status-tag.active {
    @apply bg-green-100 text-green-700;
}
.status-tag.inactive {
    @apply bg-gray-200 text-gray-600;
}
