<div class="w-full bg-white">
    <div class="p-8 rounded-xl shadow-sm mx-auto">
        <h2 class="text-2xl font-semibold mb-2">انتخاب محصول</h2>
    </div>
</div>
<div class="p-6 space-y-6 rounded-2xl">
    <div [formGroup]="productInformationForm">

        <div class="bg-white p-4 rounded-xl border border-slate-200 mt-4">

            <p-table [value]="customerTable" styleClass="normal-table"
                     class="p-6 space-y-6">
                <ng-template pTemplate="caption">
                    <div class="flex justify-between">
                        <h3 class="text-base font-semibold">اطلاعات مشتری</h3>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th>ردیف</th>
                        <th>شماره مشتری</th>
                        <th>نام مشتری</th>
                        <th>کد/شناسه ملی مشتری</th>
                        <th>تابعیت</th>
                        <th>نوع</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-row let-index="rowIndex">
                    <tr>
                        <td>{{ index + 1 }}</td>
                        <td>{{ row.customerNumber }}</td>
                        <td>{{ row.customerName }}</td>
                        <td>{{ row.customerNationalCode }}</td>
                        <td>{{ row.tabeiyat }}</td>
                        <td>{{ row.type }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="bg-white p-4 rounded-xl border border-slate-200 mt-4">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">

                <div class="flex flex-col">
                    <label class="mb-1 font-medium">کد محصول:</label>
                    <input type="text"
                           pInputText
                           readonly
                           class="normal-input"
                           formControlName="productCode">
                </div>
                <div class="flex flex-col">
                    <label class="mb-1 font-medium">عنوان محصول:</label>
                    <input type="text"
                           pInputText
                           readonly
                           class="normal-input"
                           formControlName="productTitle">
                </div>
                <div class="flex flex-col"></div>
            </div>
        </div>
        <div class="bg-white p-4 rounded-xl border border-slate-200 mt-4">

            <p-table
                [value]="productTable"
                styleClass="normal-table"
                class="p-6 space-y-6"
                dataKey="productTitle"
                selectionMode="single"
                [(selection)]="selectedProduct"
            >
                <ng-template pTemplate="caption">
                    <div class="flex justify-between">
                        <h3 class="text-base font-semibold">محصولات تسهیلاتی</h3>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th>عنوان محصول</th>
                        <th>حداکثر مبلغ تسهیلات</th>
                        <th>حداکثر مدت تسهیلات</th>
                        <th>نوع ارز</th>
                        <th>جزئیات</th>
                        <th></th> <!-- ستون رادیو -->
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-row>
                    <tr [pSelectableRow]="row">
                        <!-- لینک جزئیات -->
                        <td>{{ row.productTitle }}</td>
                        <!-- نوع ارز -->
                        <td>{{ row.maxLoanAmount }} ریال</td>
                        <td>{{ row.maxLoanDuration }}</td>
                        <td>{{ row.currencyType }}</td>
                        <td>
                            <button
                                pButton
                                type="button"
                                class="p-button-link"
                                (click)="detail(row)">
                                جزئیات
                            </button>
                        </td>
                        <td class="text-center">
                            <p-tableRadioButton [value]="row"></p-tableRadioButton>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>


    </div>
</div>


<div class="bg-white p-4 rounded-xl border border-slate-200 mt-3">
    <div class="grid grid-cols-12 gap-3 md:gap-4 items-start justify-start " dir="ltr">

        <button
            icon="pi pi-arrow-left"
            pButton
            label="ادامه"
            class=" p-button-success normal-button"
            (click)="goNext()"
        ></button>
        <button
            pButton
            label="انصراف"
            severity="danger"
            type="button"
            class="p-button-secondary col-span-6 md:col-span-1 h-[40px]"
            (click)="goCanceled()"
        ></button>
        <button
            icon="pi pi-arrow-right"
            pButton
            label="بازگشت"
            (click)="goBack()"
            class="normal-button"
        ></button>

    </div>
</div>


<p-dialog
    header="جزئیات"
    [(visible)]="showApprovalDetails"
    [modal]="true"
    [closable]="true"
    [style]="{ width: '1100px' }"
    [draggable]="false"
    [resizable]="false"
>
    <div class="p-6">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">

            <!-- ستون 1 -->
            <div class="flex flex-col gap-4">

                <div class="flex flex-col">
                    <label class="mb-1 font-medium">نوع فرانشیز</label>
                    <input pInputText class="normal-input" [disabled]="true"
                           [value]="selectedApproval?.approvalNumber || '---'" value="غیر تبصره ای/غیر دولتی" />
                </div>
                <div class="flex flex-col">
                    <label class="mb-1 font-medium">روش نگهداری سود تنفس</label>
                    <input pInputText class="normal-input" disabled
                           value="قسط اول" />
                </div>
                <div class="flex flex-col">
                    <label class="mb-1 font-medium">محدوده سنی / سابقه از</label>
                    <input pInputText class="normal-input" disabled value="18سال" />
                </div>
                <div class="flex flex-col">
                    <label class="mb-1 font-medium">حداکثر مدت تسهیلات(ماه)</label>
                    <input pInputText class="normal-input" disabled value="60" />
                </div>
                <div class="flex flex-col">
                    <label class="mb-1 font-medium">قابلیت پرداخت مجدد</label>
                    <input pInputText class="normal-input" disabled value="استفاده همزمان" />
                </div>
            </div>
            <div class="flex flex-col gap-4">
                <div class="flex flex-col">
                    <label class="mb-1 font-medium">مبنای محاسبه خسارت تاخیر</label>
                    <input pInputText class="normal-input" [disabled]="true"
                           [value]="selectedApproval?.interestRate" value="اصل + کارمزد" />
                </div>


                <div class="flex flex-col">
                    <label class="mb-1 font-medium">مدت اعتبار مصوبه</label>
                    <input pInputText class="normal-input" disabled
                           [value]="selectedApproval?.approvalDuration" value="30 روز" />
                </div>


                <div class="flex flex-col">
                    <label class="mb-1 font-medium">محدوده سنی / سابقه تا</label>
                    <input pInputText class="normal-input" disabled value="99سال" />
                </div>
                <div class="flex flex-col">
                    <label class="mb-1 font-medium">حداکثر مبلغ تسهیلات</label>
                    <input pInputText class="normal-input" disabled value="۱۵۰٬۰۰۰٬۰۰۰ ریال" />
                </div>
            </div>
            <div class="flex flex-col gap-4">

                <div class="flex flex-col">
                    <label class="mb-1 font-medium">تعداد ضامن مورد نیاز</label>
                    <input pInputText class="normal-input" [disabled]="true"
                           value="3نفر" />
                </div>

                <div class="flex flex-col">
                    <label class="mb-1 font-medium">حداکثر مهلت تنفس</label>
                    <input pInputText class="normal-input" disabled
                           [value]="selectedApproval?.loanDuration" value="60 روز" />
                </div>


                <div class="flex flex-col">
                    <label class="mb-1 font-medium">روش وصول کارمزد</label>
                    <input pInputText class="normal-input" disabled value="قسط اول" />
                </div>
                <div class="flex flex-col">
                    <label class="mb-1 font-medium">حداکثر تعداد اقساط</label>
                    <input pInputText class="normal-input" disabled value="۶۰" />
                </div>
            </div>


        </div>
        <div class="flex justify-end gap-4 mt-8">

            <button
                pButton
                label="انصراف"
                class="p-button p-button-danger w-32 h-10"
                (click)="showApprovalDetails = false"
            ></button>
        </div>

    </div>
</p-dialog>


