<!--
<div class="bg-white p-4 rounded-xl border border-slate-200">
    <div class="grid grid-cols-12 gap-3 md:gap-4">
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.nationalId' | transloco }}:</span>
            </label>
            <input
                pInputText
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="nationalCodeSearch"
                class="normal-input"
                inputmode="numeric"
                maxlength="10"
            />
            <small
                class="text-red-500"
                *ngIf="identityFg.get('nationalId')?.invalid && identityFg.get('nationalId')?.touched"
            >
                شناسه ملی نامعتبر است.
            </small>
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span>{{ 'citizen.identity.birthDate' | transloco }}:</span>
            </label>
            <p-persian-calendar
                class="app-persian-calendar-style"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="birthDateSearch"
            ></p-persian-calendar>
        </div>
        <div class="col-span-12 md:col-span-4 flex items-end gap-2" dir="left">
            <button
                pButton
                type="button"
                icon="pi pi-search"
                iconPos="right"
                label="{{ 'citizen.actions.search' | transloco }}"
                class="normal-button p-button  !px-2 !py-0"
                (click)="onSearch()"
            ></button>
            <button
                pButton
                type="button"
                iconPos="right"
                [label]="'استعلام'"
                icon="pi pi-id-card"
                [outlined]="true"
                class="normal-button p-button h-[38px] !min-h-[38px] !px-2 !py-0"
                [loading]="loadingInquiry"
                (click)="onInquiry()"
            ></button>
            <button
                pButton
                severity="help"
                icon="pi pi-print"
                type="button"
                class="normal-button p-button h-[38px] !min-h-[38px] !px-2 !py-0"
                matTooltip="چاپ"
            ></button>
            <ng-template pTemplate="caption">
                <div class="flex justify-end gap-4">
                    <button
                        class="normal-button bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-lx flex items-center h-[38px]">
                        <svg class="w-5 h-5 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"></path>
                        </svg>
                        Excel
                    </button>
                    <button
                        class="normal-button bg-purple-600 hover:bg-purple-700 text-white px-4 py-2 rounded-lx flex items-center h-[38px]">
                        <svg class="w-5 h-5 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z"></path>
                        </svg>
                        چاپ
                    </button>
                </div>
            </ng-template>
        </div>
    </div>
</div>

<form [formGroup]="identityFg" class="bg-white p-4 rounded-xl border border-slate-200 my-5">
    <div class="grid grid-cols-12 gap-3 md:gap-4">

        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="red-color-text">* </span>
                <span>{{ 'citizen.identity.firstName' | transloco }}:</span>
            </label>
            <input pInputText formControlName="firstName" class="normal-input" />
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="red-color-text">* </span>
                <span>{{ 'citizen.identity.lastName' | transloco }}:</span>
            </label>
            <input pInputText formControlName="lastName" class="normal-input" />
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="red-color-text">* </span>
                <span>{{ 'citizen.identity.fatherName' | transloco }}:</span>
            </label>
            <input pInputText formControlName="fatherName" class="normal-input" />
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.nationalId' | transloco }}:</span>
            </label>
            <input pInputText formControlName="nationalId" class="normal-input" inputmode="numeric" maxlength="10" />
            <small class="text-red-500"
                   *ngIf="identityFg.get('nationalId')?.invalid && identityFg.get('nationalId')?.touched">
                شناسه ملی نامعتبر است.
            </small>
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.birthDate' | transloco }}:</span>
            </label>
            <p-persian-calendar class="app-persian-calendar-style" formControlName="birthDate"></p-persian-calendar>
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.gender' | transloco }}:</span>
            </label>
            <p-dropdown class="normal-input" [options]="genderOptions" optionLabel="label" optionValue="value"
                        formControlName="gender"></p-dropdown>
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.idNumber' | transloco }}:</span>
            </label>
            <input pInputText formControlName="identityNumber" class="normal-input" inputmode="numeric" />
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.idSeriesAlpha' | transloco }}:</span>
            </label>
            <input pInputText formControlName="identityAlphabeticPart" class="normal-input uppercase text-center"
                   maxlength="2" />
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.idSeriesNum' | transloco }}:</span>
            </label>
            <input pInputText formControlName="identityNumericPart" class="normal-input text-center" inputmode="numeric"
                   maxlength="3" />
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.idSerial' | transloco }}:</span>
            </label>
            <input pInputText formControlName="identitySerial" class="normal-input text-center" inputmode="numeric"
                   maxlength="6" />
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.idTypeId' | transloco }}:</span>
            </label>
            <p-dropdown class="normal-input" [options]="identityTypeOptions" optionLabel="label" optionValue="value"
                        formControlName="identityTypeId"></p-dropdown>
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.issueCityId' | transloco }}:</span>
            </label>
            <p-dropdown class="normal-input" [options]="cityOptions" optionLabel="label" optionValue="value"
                        formControlName="identityIssueCityId"></p-dropdown>
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span>{{ 'citizen.identity.issueOfficeCode' | transloco }}:</span>
            </label>
            <input pInputText formControlName="identityIssueRegion" class="normal-input" inputmode="numeric" />
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.issueDate' | transloco }}:</span></label>
            <p-persian-calendar class="app-persian-calendar-style" formControlName="identityDate"></p-persian-calendar>
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.birthCountryId' | transloco }}:</span>
            </label>
            <p-dropdown class="normal-input" [options]="countryOptions" optionLabel="label" optionValue="value"
                        formControlName="birthCountryId"></p-dropdown>
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span *ngIf="countryIsIran" class="text-red-500">* </span>
                <span>{{ 'citizen.identity.birthCityId' | transloco }}:</span>
            </label>
            <p-dropdown class="normal-input" [options]="cityOptions" optionLabel="label" optionValue="value"
                        formControlName="birthCityId"></p-dropdown>
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.residenceType' | transloco }}:</span>
            </label>
            <p-dropdown class="normal-input" [options]="residenceTypeOptions" optionLabel="label" optionValue="value"
                        formControlName="residenceType"></p-dropdown>
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.nationalCardSerial' | transloco }}:</span>
            </label>
            <input pInputText formControlName="nationalCardSerial" class="normal-input" />
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span>{{ 'citizen.identity.isAlive' | transloco }}:</span>
            </label>
            <p-dropdown class="normal-input" [options]="aliveOptions" optionLabel="label" optionValue="value"
                        formControlName="isAlive"></p-dropdown>
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span>{{ 'citizen.identity.shahabCode' | transloco }}:</span>
            </label>
            <input pInputText formControlName="shahabCode" class="normal-input" />
        </div>
    </div>
</form>
-->
<div class="bg-white p-4 rounded-xl border border-slate-200">
    <div class="grid grid-cols-12 gap-3 md:gap-4">
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.nationalId' | transloco }}:</span>
            </label>
            <input
                pInputText
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="nationalCodeSearch"
                class="normal-input"
                inputmode="numeric"
                maxlength="10"
            />
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span>{{ 'citizen.identity.birthDate' | transloco }}:</span>
            </label>
            <p-persian-calendar
                class="app-persian-calendar-style"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="birthDateSearch"
            ></p-persian-calendar>
        </div>
        <div class="col-span-12 md:col-span-4 flex items-end gap-2" dir="ltr">
            <button
                pButton
                type="button"
                icon="pi pi-search"
                iconPos="right"
                label="{{ 'citizen.actions.search' | transloco }}"
                class="normal-button p-button !px-2 !py-0"
                (click)="onSearch()"
            ></button>
            <button
                pButton
                type="button"
                iconPos="right"
                [label]="'استعلام'"
                icon="pi pi-id-card"
                [outlined]="true"
                class="normal-button p-button h-[38px] !min-h-[38px] !px-2 !py-0"
                [loading]="loadingInquiry"
                (click)="onInquiry()"
            ></button>

            <button
                pButton
                severity="help"
                icon="pi pi-print"
                type="button"
                class="normal-button p-button h-[38px] !min-h-[38px] !px-2 !py-0"
                matTooltip="چاپ"
            ></button>
            <ng-template pTemplate="caption">
                <div class="flex justify-end gap-4">
                    <button
                        class="normal-button bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-lx flex items-center h-[38px]">
                        <svg class="w-5 h-5 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"></path>
                        </svg>
                        Excel
                    </button>
                    <button
                        class="normal-button bg-purple-600 hover:bg-purple-700 text-white px-4 py-2 rounded-lx flex items-center h-[38px]">
                        <svg class="w-5 h-5 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z"></path>
                        </svg>
                        چاپ
                    </button>
                </div>
            </ng-template>
        </div>
    </div>
</div>
<form [formGroup]="identityFg" class="bg-white p-4 rounded-xl border border-slate-200 my-5">
    <div class="grid grid-cols-12 gap-3 md:gap-4">
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="red-color-text">* </span>
                <span>{{ 'citizen.identity.firstName' | transloco }}:</span>
            </label>
            <input pInputText formControlName="firstName" class="normal-input" />
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="red-color-text">* </span>
                <span>{{ 'citizen.identity.lastName' | transloco }}:</span>
            </label>
            <input pInputText formControlName="lastName" class="normal-input" />
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="red-color-text">* </span>
                <span>{{ 'citizen.identity.fatherName' | transloco }}:</span>
            </label>
            <input pInputText formControlName="fatherName" class="normal-input" />
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.nationalId' | transloco }}:</span>
            </label>
            <input pInputText formControlName="nationalId" class="normal-input" inputmode="numeric" maxlength="10" />
            <small class="text-red-500"
                   *ngIf="identityFg.get('nationalId')?.invalid && identityFg.get('nationalId')?.touched">
                شناسه ملی نامعتبر است.
            </small>
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.birthDate' | transloco }}:</span>
            </label>
            <p-persian-calendar class="app-persian-calendar-style" formControlName="birthDate"></p-persian-calendar>
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.gender' | transloco }}:</span>
            </label>
            <p-dropdown class="normal-input" [options]="genderOptions" optionLabel="label" optionValue="value"
                        formControlName="gender"></p-dropdown>
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.idNumber' | transloco }}:</span>
            </label>
            <input pInputText formControlName="identityNumber" class="normal-input" inputmode="numeric" />
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.idSeriesAlpha' | transloco }}:</span>
            </label>
            <input pInputText formControlName="identityAlphabeticPart" class="normal-input uppercase text-center"
                   maxlength="2" />
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.idSeriesNum' | transloco }}:</span>
            </label>
            <input pInputText formControlName="identityNumericPart" class="normal-input text-center" inputmode="numeric"
                   maxlength="3" />
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.idSerial' | transloco }}:</span>
            </label>
            <input pInputText formControlName="identitySerial" class="normal-input text-center" inputmode="numeric"
                   maxlength="6" />
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.idTypeId' | transloco }}:</span>
            </label>
            <p-dropdown class="normal-input" [options]="identityTypeOptions" optionLabel="label" optionValue="value"
                        formControlName="identityTypeId"></p-dropdown>
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.issueCityId' | transloco }}:</span>
            </label>
            <p-dropdown class="normal-input" [options]="cityOptions" optionLabel="label" optionValue="value"
                        formControlName="identityIssueCityId"></p-dropdown>
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span>{{ 'citizen.identity.issueOfficeCode' | transloco }}:</span>
            </label>
            <input pInputText formControlName="identityIssueRegion" class="normal-input" inputmode="numeric" />
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.issueDate' | transloco }}:</span></label>
            <p-persian-calendar class="app-persian-calendar-style" formControlName="identityDate"></p-persian-calendar>
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.birthCountryId' | transloco }}:</span>
            </label>
            <p-dropdown class="normal-input" [options]="countryOptions" optionLabel="label" optionValue="value"
                        formControlName="birthCountryId"></p-dropdown>
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span *ngIf="countryIsIran" class="text-red-500">* </span>
                <span>{{ 'citizen.identity.birthCityId' | transloco }}:</span>
            </label>
            <p-dropdown class="normal-input" [options]="cityOptions" optionLabel="label" optionValue="value"
                        formControlName="birthCityId"></p-dropdown>
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.residenceType' | transloco }}:</span>
            </label>
            <p-dropdown class="normal-input" [options]="residenceTypeOptions" optionLabel="label" optionValue="value"
                        formControlName="residenceType"></p-dropdown>
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span class="text-red-500">* </span>
                <span>{{ 'citizen.identity.nationalCardSerial' | transloco }}:</span>
            </label>
            <input pInputText formControlName="nationalCardSerial" class="normal-input" />
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span>{{ 'citizen.identity.isAlive' | transloco }}:</span>
            </label>
            <p-dropdown class="normal-input" [options]="aliveOptions" optionLabel="label" optionValue="value"
                        formControlName="isAlive"></p-dropdown>
        </div>
        <div class="col-span-12 md:col-span-4 flex flex-col">
            <label class="mb-1">
                <span>{{ 'citizen.identity.shahabCode' | transloco }}:</span>
            </label>
            <input pInputText formControlName="shahabCode" class="normal-input" />
        </div>
    </div>
</form>
