<!-- Button -->
<button mat-icon-button [matMenuTriggerFor]="userActions">
    <span class="relative">
        @if (showAvatar && user.avatar) {
            <img class="h-7 w-7 rounded-full" [src]="user.avatar" />
        }
        @if (!showAvatar || !user.avatar) {
            <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        }
        <span
            class="absolute bottom-0 right-0 h-2 w-2 rounded-full"
            [ngClass]="{
                'mb-px mr-px': !showAvatar || !user.avatar,
                'bg-green-500': user.status === 'online',
                'bg-amber-500': user.status === 'away',
                'bg-red-500': user.status === 'busy',
                'bg-gray-400': user.status === 'not-visible',
            }"
        ></span>
    </span>
</button>

<mat-menu [xPosition]="'before'" #userActions="matMenu">
    <button mat-menu-item *transloco="let t">
        <span class="flex flex-col leading-none">
            <span>{{ t('Signed in as') }}</span>
            <span class="mt-1.5 text-md font-medium">{{ user.email }}</span>
        </span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item *transloco="let t">
        <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        <span>{{ t('Profile') }}</span>
    </button>
    <button mat-menu-item *transloco="let t">
        <mat-icon [svgIcon]="'heroicons_outline:cog-8-tooth'"></mat-icon>
        <span>{{ t('Settings') }}</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="userStatus" *transloco="let t">
        <mat-icon
            [svgIcon]="'heroicons_outline:ellipsis-horizontal-circle'"
        ></mat-icon>
        <span>{{ t('Status') }}</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item (click)="signOut()" *transloco="let t">
        <mat-icon
            [svgIcon]="'heroicons_outline:arrow-right-on-rectangle'"
        ></mat-icon>
        <span>{{ t('Sign out') }}</span>
    </button>
</mat-menu>

<mat-menu class="user-status-menu" #userStatus="matMenu" >
    <button mat-menu-item (click)="updateUserStatus('online')" *transloco="let t">
        <span class="mr-3 inline-flex h-4 w-4 rounded-full bg-green-500"></span>
        <span>{{ t('Online') }}</span>
    </button>
    <button mat-menu-item (click)="updateUserStatus('away')" *transloco="let t">
        <span class="mr-3 inline-flex h-4 w-4 rounded-full bg-amber-500"></span>
        <span>{{ t('Away') }}</span>
    </button>
    <button mat-menu-item (click)="updateUserStatus('busy')" *transloco="let t">
        <span class="mr-3 inline-flex h-4 w-4 rounded-full bg-red-500"></span>
        <span>{{ t('Busy') }}</span>
    </button>
    <button mat-menu-item (click)="updateUserStatus('not-visible')" *transloco="let t">
        <span class="mr-3 inline-flex h-4 w-4 rounded-full bg-gray-400"></span>
        <span>{{ t('Invisible') }}</span>
    </button>
</mat-menu>
