<div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1">
    <div class="" dir="">
<!--        <p>درباره...</p>-->
    </div>
<!--    <div class="col-9" dir="rtl">-->
<!--        <app-development></app-development>-->

<!--    </div>-->
    <div class="col-12" dir="ltr">

        <button (click)="BeforeButton()"
                style="width: 30px!important;" pButton
                class="btnConfirm p-button-warning" icon="pi pi-arrow-right"
                matTooltip="{{'بازگشت'}}"></button>
    </div>
</div>
