<div class="w-full app-card">
    <div class="p-8 rounded-xl shadow-sm  mx-auto">
        <div class="flex flex-col w-full p-4">
            <div class="flex flex-col items-start text-right w-full">
                <h2 class="text-2xl font-semibold mb-2">
                    {{ 'fundingSources.title' | transloco }}
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="p-6 space-y-6 rounded-2xl">
    <!-- 🔹 فیلتر و جستجو -->
    <div [formGroup]="fundingSourcesForm" class="app-card p-6 rounded-xl border border-slate-200">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            <div class="flex flex-col">
                <label class="mb-1 font-medium">نوع منبع:</label>

                <div class="flex flex-row items-center gap-2">
                    <p-dropdown
                        class="dropdown-normal"
                        [options]="sourceTypeList"
                        optionLabel="label"
                        optionValue="value"
                        formControlName="sourceTypeId"
                        placeholder="انتخاب کنید"
                        [showClear]="true"
                        (onChange)="onSourceTypeChange($event)"
                    ></p-dropdown>

                    <button
                        pButton
                        type="button"
                        icon="pi pi-search"
                        label="جستجو"
                        class="normal-button p-button !px-3 !py-1 p-component"
                    ></button>
                </div>
            </div>
        </div>
    </div>

    <!-- 🔹 جدول -->
    <div class="flex flex-col">
        <div class="app-card p-4 rounded-xl border border-slate-200">
            <div class="my-2">
                <button
                    pButton
                    icon="pi pi-plus"
                    class="p-button-outlined normal-button"
                    type="button"
                    label="ایجاد"
                    (click)="openCreateDialog()"
                ></button>
            </div>

            <p-table
                [value]="fundingSourcesTable"
                [paginator]="true"
                [rows]="5"
                [rowsPerPageOptions]="[5,10,20]"
                styleClass="p-datatable-striped p-datatable-gridlines responsive-table"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>ردیف</th>
                        <th>کد نوع منبع</th>
                        <th>عنوان نوع منبع</th>
                        <th>وضعیت</th>
                        <th>عملیات</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                    <tr>
                        <td>{{ rowIndex + 1 }}</td>
                        <td>{{ row.code }}</td>
                        <td>{{ row.title }}</td>
                        <td>{{ row.active }}</td>
                        <td>
                            <div class="flex flex-row gap-2">
                                <button
                                    pButton
                                    icon="pi pi-eye"
                                    class="p-button-sm p-button-rounded p-button-outlined"
                                    pTooltip="مشاهده"
                                    (click)="viewSource(row)"
                                ></button>

                                <button
                                    pButton
                                    icon="pi pi-pencil"
                                    class="p-button-sm p-button-rounded p-button-outlined p-button-success"
                                    pTooltip="ویرایش"
                                    (click)="editSource(row)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="5" class="text-center py-4 text-gray-500">
                            هیچ رکوردی یافت نشد.
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <p-dialog
        header="نوع منبع تأمین تسهیلات / تعهدات"
        [(visible)]="createDialogVisible"
        [modal]="true"
        [closable]="true"
        [style]="{ width: '1100px' }"
        [draggable]="false"
        [resizable]="false"
    >
        <form [formGroup]="createSourceForm">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                <!-- 🔹 کد نوع منبع -->
                <div class="flex flex-col">
                    <label class="mb-1 font-medium"
                    >کد نوع منبع <span class="text-red-500">*</span></label
                    >
                    <input
                        type="text"
                        pInputText
                        formControlName="code"
                        class="normal-input"
                    />
                </div>

                <!-- 🔹 عنوان نوع منبع -->
                <div class="flex flex-col">
                    <label class="mb-1 font-medium"
                    >عنوان نوع منبع <span class="text-red-500">*</span></label>
                    <input
                        type="text"
                        pInputText
                        formControlName="title"
                        class="normal-input"
                    />
                </div>

                <div class="flex flex-col">
                    <label class="text-gray-700 text-sm">فعال</label>
                    <p-checkbox formControlName="active" binary="true"></p-checkbox>
                </div>


            </div>

            <div class="flex justify-end gap-4 mt-8">
                <button
                    pButton
                    label="ثبت"
                    class="p-button p-button-success w-32 h-10"
                    (click)="onCreateSubmit()"
                    [disabled]="createSourceForm.invalid"
                ></button>
                <button
                    pButton
                    label="انصراف"
                    class="p-button p-button-danger w-32 h-10"
                    (click)="onCancelDialog()"
                ></button>
            </div>
        </form>
    </p-dialog>
</div>
